/* Declare variables*/


/* Import component stylesheets*/
@use '../css/components/splash-component';
@use '../css/components/canopy-q-component';
@use '../css/components/card-component';
@use '../css/components/leaf-card-component';
@use '../css/components/trunk-template-component';
@use '../css/components/branch-page-component';
@use '../css/components/book-item-component';

/*Set up the page to act as a flex column container*/

html, body {
	height:100%;
}

body {
	display:flex;
	flex-direction:column;
	place-items: center;
}


/*Header/Body/Footer is site structure.*/
#main-frame {
    width:100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#body-frame {
	display:flex;
	flex-direction:column;
	width:100%;
	flex-grow:1;
	background: 
		conic-gradient(from 90deg at 1.25px 1.25px,#feffff 90deg,#eaf5ff 0) 
		0 0/20px 20px;
	justify-content:center;
	align-items:center;
}

#footer {
	background: #111;
	color: white;	
    flex-grow: 0;
    flex-shrink: 0;
    text-align:center;
	padding-top:1.5em;
	padding-bottom:1.5em;
	overflow-wrap:word-break;
	width:100%;
}

#footer a:link { 
    color: #7b86cb; 
}

#footer a:visited { 
    color: #6471c2; 
}

.header-item {
	background: #111;
	color: white;
	display:flex;
	flex-direction:row;
	align-items:center;
	padding:0.25em;
}



/* Common components*/
.flex-spacer {
    flex-grow:1;
}


/* Navigation bar*/
#navbar {
    display:flex;
    flex-direction:row;
    width:100%;
}

.navButton {
    display:flex;
    font-size:3.7rem;
    color:#d5798a;
    border:1px;
    border-radius: 100px 100px 100px 100px;
    aspect-ratio: 1/1;
    height:4rem;
}
