/* Declare variables*/
/* Import component stylesheets*/
/*----------------SPLASH COMPONENT BEGIN-------------------------------*/
/*The splash component contains the logo, start button, and title for the first page. This is loaded later on.*/
/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 5vh;
  font-weight: bold;
  color: black;
  border: 3px solid white;
  padding: 0em 1.6rem;
  border-radius: 5px;
  line-height: 1rem;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: black;
  letter-spacing: 0.05em;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: relative;
  text-align: center;
}

.pure-button {
  color: #111;
  padding: 0.5em 2em;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #111;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#splash-img {
  width: auto;
  max-height: min(200px, 25vh);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (orientation: portrait) {
  /* We decrease the width of the .splash, since we have more width
  to work with */
  .splash {
    width: 50%;
    height: 50%;
  }
}
/*-----------------------------SPLASH COMPONENT END ---------------------------------------------------*/
.canopy-question-grid-container {
  display: grid;
  grid-template-columns: auto;
}

.canopy-grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 1rem;
  column-gap: 2rem;
  row-gap: 1rem;
}

.canopy-grid-item {
  max-width: 90vw;
}

.canopy-q-block-answer {
  display: grid;
}

.canopy-q-block-answer > div {
  position: relative;
}

.canopy-q-block-answer > div input, label {
  width: 100%;
}

.canopy-q-block-answer > div input {
  visibility: hidden;
}

.canopy-q-block-answer > div input[type=radio]:checked + label,
.Checked + label {
  background-color: #F0E399;
}

.canopy-q-block-answer > div label:hover {
  background: #DDD;
}

@media only screen and (max-aspect-ratio: 3/2) {
  .canopy-grid-container {
    grid-template-columns: auto;
    margin: 2.5vw;
  }
}
/*----------------------CARD COMPONENT BEGIN----------------------------------*/
#card-container {
  display: flex;
  background-color: #f3f6f9;
  box-shadow: 0.05rem 0.15rem 0.1rem #101124;
  max-width: 50%;
  aspect-ratio: 16/9;
  border-radius: 4px;
  margin: auto;
  position: relative;
  flex-direction: column;
}

#card-ribbon {
  display: flex;
  color: #f3f6f9;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  align-items: center;
  background: #303941;
  margin-top: 1.5rem;
  height: 2.5rem;
}

#card-content {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  align-items: flex-end;
}

.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

@media screen and (max-aspect-ratio: 3/2) {
  #card-container {
    max-width: 80%;
    height: auto;
    aspect-ratio: auto;
  }
  #card-content {
    position: relative;
    padding: 0.75rem;
    justify-content: center;
  }
  #card-ribbon {
    margin-top: 1rem;
    padding: 0.5rem;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #card-container {
    aspect-ratio: auto;
  }
}
/*----------------------CARD COMPONENT END--------------------------------------*/
#leafContents {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#leafIcon {
  justify-content: center;
  max-height: 100px;
  object-fit: contain;
  width: auto;
}

#leafHead {
  text-align: center;
}

#clusterInfo {
  display: flex;
  flex-direction: row;
}

#leafQuote {
  text-align: center;
  padding: 0.75rem;
  font-style: italic;
  font-size: calc(8px + 0.5vh);
}

#noteHeader {
  text-align: start;
}

#leafNotes {
  text-align: start;
}

#continueMessage {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.keyword {
  text-decoration: underline;
}

.keyName {
  text-decoration: underline;
}

#trunk-container {
  display: grid;
  justify-items: center;
}

#trunk-question-title {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  grid-column: 1/3;
  grid-row-start: 1;
}

.trunk-paragraph-label {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.33rem;
  margin-bottom: 0.5rem;
}

.trunk-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trunk-paragraph {
  border: 0.1rem solid #303941;
  margin: 1rem;
  padding: 3rem;
}

.trunk-paragraph-link {
  padding-bottom: 1rem;
  color: #D5798A;
}

.trunk-box-item-container {
  display: grid;
  justify-items: center;
}

#trunk-range-slider {
  width: 75%;
  grid-column: 1/3;
}

.trunk-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.4rem;
  background: #303941;
  outline: none;
  -webkit-transition: 0.2s;
}

.trunk-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 2rem;
  background: #ccb669;
  cursor: pointer;
}

.trunk-slider::-moz-range-thumb {
  width: 1rem;
  height: 2rem;
  background: #ccb669;
  cursor: pointer;
}

#trunk-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

option {
  padding: 0;
}

/*Arrange components into the grid*/
#trunk-paragraph-label-a {
  grid-column: 1/2;
  grid-row-start: 2;
}

#trunk-paragraph-label-b {
  grid-column: 2/3;
  grid-row-start: 2;
}

#trunk-paragraph-a {
  grid-column: 1/2;
  grid-row-start: 3;
}

#trunk-paragraph-b {
  grid-column: 2/3;
  grid-row-start: 3;
}

#trunk-paragraph-link-a {
  grid-column: 1/2;
  grid-row-start: 4;
}

#trunk-paragraph-link-b {
  grid-column: 2/3;
  grid-row-start: 4;
}

@media only screen and (orientation: portrait) {
  .trunk-range-slider {
    width: 90%;
  }
  /* Alter layout of paragraph questions to fit mobile: */
  .trunk-box-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #trunk-paragraph-label-a {
    grid-column: 1/span 1;
    grid-row-start: auto;
  }
  #trunk-paragraph-label-b {
    grid-column: 1/span 1;
    grid-row-start: auto;
  }
  #trunk-paragraph-a {
    grid-column: 1/span 1;
    grid-row-start: auto;
  }
  #trunk-paragraph-b {
    grid-column: 1/span 1;
    grid-row-start: auto;
  }
  #trunk-paragraph-link-a {
    grid-column: 1/span 1;
    grid-row-start: auto;
  }
  #trunk-paragraph-link-b {
    grid-column: 1/span 1;
    grid-row-start: auto;
  }
}
#branch-container {
  display: flex;
  flex-direction: column;
}

#branch-header {
  text-align: center;
  padding-bottom: 2rem;
}

.book-list {
  list-style-type: none;
}

.collapsible {
  cursor: pointer;
  padding: 0.5em;
  text-align: left;
  border: none;
  outline: none;
  background: none;
}

.book-item {
  list-style-type: none;
  list-style-position: outside;
}

.book-item:hover {
  background: #dee2e5;
}

.collapse-marker {
  content: "+";
  font-weight: bold;
  display: inline;
  margin-right: 0.5rem;
}

.collapsible-content {
  display: none;
  margin-left: 5%;
}

.book-data {
  display: inherit;
  grid-template-columns: auto auto;
}

.additional-collapsible-title {
  font-style: italic;
}

.book-title {
  font-style: italic;
  text-decoration-line: underline;
}

.book-field {
  text-align: left;
  padding: 0.2rem;
}

.book-field-name {
  font-weight: bold;
}

.summary-field {
  grid-column: span 2;
}

.badge {
  font-size: 0.6rem;
  background-color: #499DA0;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.badge:hover {
  background-color: #63D3D7;
}

.main-book-list-header {
  padding: 0;
  margin-right: 0;
}

.main-book-list {
  display: grid;
  margin-left: 0;
}

/*Set up the page to act as a flex column container*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
}

/*Header/Body/Footer is site structure.*/
#main-frame {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#body-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background: conic-gradient(from 90deg at 1.25px 1.25px, #feffff 90deg, #eaf5ff 0) 0 0/20px 20px;
  justify-content: center;
  align-items: center;
}

#footer {
  background: #111;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  overflow-wrap: word-break;
  width: 100%;
}

#footer a:link {
  color: #7b86cb;
}

#footer a:visited {
  color: #6471c2;
}

.header-item {
  background: #111;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em;
}

/* Common components*/
.flex-spacer {
  flex-grow: 1;
}

/* Navigation bar*/
#navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navButton {
  display: flex;
  font-size: 3.7rem;
  color: #d5798a;
  border: 1px;
  border-radius: 100px 100px 100px 100px;
  aspect-ratio: 1/1;
  height: 4rem;
}

/*# sourceMappingURL=main.css.map */
