body {
  background:tan;
  color:saddlebrown;
}
.container {
  display:grid;
  justify-items:center;
}

.box-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  background-color: wheat;
  width: 15rem;
  border: 0.5rem solid sienna;
  padding: 3rem;
  margin: 1rem;
}

.box-item-container {
  display:grid;
  justify-items:center;
}

#range-slider {
  display:flex;
  flex-direction:column;
  width: 50%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.4rem;
  background: sienna;
  opacity:0.8;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 2rem;
  background: wheat;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 2rem;
  background: wheat;
  cursor: pointer;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

option {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .box-container{
    display: grid;
    grid-template-columns: 1fr;
  }
}
