		.collapsible {
		  background-color: #433636;
		  color: #91807e;
		  cursor: pointer;
		  padding: 10px 25px;
		  width: 100%;
		  border: none;
		  text-align: left;
		  outline: none;
		  font-size: 15px;
		}
		.collapsible:after {
		  content: '+';
		  color: #91807e;
		  font-weight: bold;
		  float: left;
		  margin-right: 10px;
		}
		
		.active:after {
		  content: "‒";
		}
		.content {
		  padding: 5px;
		  display: none;
		  width:90%;
		  float:left;
		  margin-left:5%;
		  overflow: hidden;
		  background-color: #433636;
		}
		table, td, th {
			border: 0px;
		}
		td {
			width: 15%;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0px;
			width: 100%;
		}

		th {
			text-align: left;
			float:left;
		}