.collapsible {
    cursor: pointer;
    padding: 0.5em;
    text-align: left;
    border: none;
    outline: none;
    background:none;
}

.book-item {
    list-style-type: none;
    list-style-position: outside;
}

.book-item:hover {
	background:#dee2e5;
}


.collapse-marker {
    content: '+';
    font-weight: bold;
    display:inline;
    margin-right: 0.5rem;
}

.collapsible-content {
    display:none;
    margin-left:5%;
}


.book-data {
    display:inherit;
    grid-template-columns: auto auto;
}

.additional-collapsible-title {
    font-style: italic;
}

.book-title {
    font-style: italic;
    text-decoration-line: underline;
}

.book-field {
    text-align: left;
    padding:0.2rem;
}
.book-field-name {
    font-weight: bold;
}

.summary-field {
    grid-column: span 2;
}

.badge {
    font-size: .6rem;
    background-color: #499DA0;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    display:inline-block;
    vertical-align: middle;
}

.badge:hover {
    background-color: #63D3D7;
}


.main-book-list-header {
    padding:0;
    margin-right:0;
}

.main-book-list {
    display:grid;
    margin-left:0;
}
