.canopy-question-grid-container {
  display: grid;
  grid-template-columns: auto;
}

.canopy-grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 1rem;
  column-gap:2rem;
  row-gap:1rem;
}

.canopy-grid-item {
    max-width:90vw;
}
.canopy-q-block-answer {
	display:grid;
}



.canopy-q-block-answer > div
{
  position: relative;
}

.canopy-q-block-answer > div input,label
{
  width: 100%;
}

.canopy-q-block-answer > div input
{
  visibility: hidden;
}

.canopy-q-block-answer > div input[type="radio"]:checked+label,
.Checked+label {
  background-color: #F0E399;
}

.canopy-q-block-answer > div label:hover {
  background: #DDD;
}



@media only screen and (max-aspect-ratio: 3/2) {
	.canopy-grid-container {
		grid-template-columns: auto;
        margin:2.5vw;
	}
}
