/*----------------------CARD COMPONENT BEGIN----------------------------------*/


#card-container {
    display: flex;
    background-color:#f3f6f9;
    box-shadow: 0.05rem 0.15rem 0.1rem #101124;
    max-width:50%;
    aspect-ratio: 16/9;
    border-radius:4px;
    margin:auto;
    position:relative;
    flex-direction: column;
}

#card-ribbon {
    display: flex;
    color:#f3f6f9;
    justify-content:center;
    text-align:center;
    font-weight:bold;
    align-items:center;
    background:#303941;
    margin-top:1.5rem;
    height:2.5rem;
}

#card-content {
    padding-left:5rem;
    padding-right:5rem;
    padding-top:2.5rem;
    padding-bottom:2.5rem;
    align-items:flex-end;
}

.h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

@media screen and (max-aspect-ratio: 3/2) {
    #card-container {
        max-width: 80%;
        height:auto;
        aspect-ratio:auto;
    }
    #card-content {
        position:relative;
        padding:0.75rem;
        justify-content:center;
    }
    #card-ribbon {
        margin-top:1rem;
        padding:0.5rem;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #card-container {
        aspect-ratio:auto;
    }
}


/*----------------------CARD COMPONENT END--------------------------------------*/
