#leafContents {
    display:flex;
    flex-direction:column;
    width:fit-content;
}

#leafIcon {
    justify-content:center;
    max-height:100px;
    object-fit: contain;
    width:auto;
}

#leafHead {
    text-align:center;
}

#clusterInfo {
    display:flex;
    flex-direction:row;
}

#leafQuote {
  text-align:center;
  padding: 0.75rem;
  font-style: italic;
  font-size:calc(8px + 0.5vh);
}
#noteHeader {
    text-align: start;
}

#leafNotes {
    text-align: start;
}

#continueMessage {
    font-weight:bold;
    text-decoration: underline;
    text-align:center;
}

.keyword {
    text-decoration: underline;
}

.keyName {
    text-decoration: underline;
}
