/*----------------SPLASH COMPONENT BEGIN-------------------------------*/

/*The splash component contains the logo, start button, and title for the first page. This is loaded later on.*/

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 5vh;
    font-weight: bold;
    color: black;
    border: 3px solid white;
    padding: 0em 1.6rem;
    border-radius: 5px;
    line-height: 1rem;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: black;
    letter-spacing: 0.05em;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: relative;
    text-align: center;
}

.pure-button {
    color: #111;
    padding: 0.5em 2em;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #111;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

#splash-img {
    width: auto;
    max-height: min(200px, 25vh);
    display:block;
    margin-left:auto;
    margin-right:auto;
}
//Media queries

@media only screen and (orientation: portrait) {
    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }
}


/*-----------------------------SPLASH COMPONENT END ---------------------------------------------------*/
