#trunk-container {
  display:grid;
  justify-items:center;
}


#trunk-question-title {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / 3;
    grid-row-start: 1;
}

.trunk-paragraph-label {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.33rem;
  margin-bottom: 0.5rem;
}
.trunk-box-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trunk-paragraph {
  border: 0.1rem solid #303941;
  margin: 1rem;
  padding:3rem;
}

.trunk-paragraph-link {
  padding-bottom:1rem;
  color:#D5798A;
}

.trunk-box-item-container {
  display:grid;
  justify-items:center;
}

#trunk-range-slider {
    width: 75%;
    grid-column: 1 / 3;
}
.trunk-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.4rem;
  background: #303941;
  outline: none;
  -webkit-transition: .2s;
}

.trunk-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 2rem;
  background:#ccb669;
  cursor: pointer;
}

.trunk-slider::-moz-range-thumb {
  width: 1rem;
  height: 2rem;
  background:#ccb669;
  cursor: pointer;
}

#trunk-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

option {
  padding: 0;
}


/*Arrange components into the grid*/
#trunk-paragraph-label-a {
    grid-column: 1 / 2;
    grid-row-start: 2;
}

#trunk-paragraph-label-b {
    grid-column: 2 / 3;
    grid-row-start: 2;
}

#trunk-paragraph-a { 
    grid-column: 1 / 2;
    grid-row-start: 3;
}

#trunk-paragraph-b { 
    grid-column: 2 / 3;
    grid-row-start: 3;
}


#trunk-paragraph-link-a { 
    grid-column: 1 / 2;
    grid-row-start: 4;
}

#trunk-paragraph-link-b { 
    grid-column: 2 / 3;
    grid-row-start: 4;
}

@media only screen and (orientation: portrait) {
  .trunk-range-slider {
        width: 90%;
  }
  /* Alter layout of paragraph questions to fit mobile: */
    .trunk-box-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    #trunk-paragraph-label-a {
        grid-column: 1 / span 1;
        grid-row-start: auto;
    }
    #trunk-paragraph-label-b {
        grid-column: 1 / span 1; 
        grid-row-start: auto;
    }
    #trunk-paragraph-a { 
        grid-column: 1 / span 1;
        grid-row-start: auto;
    }
    #trunk-paragraph-b { 
        grid-column: 1 / span 1;
        grid-row-start: auto;
    }
    #trunk-paragraph-link-a { 
        grid-column: 1 / span 1;
        grid-row-start: auto;
    }
    #trunk-paragraph-link-b { 
        grid-column: 1 / span 1;
        grid-row-start: auto;
    }
}
